.git
.github
.claude
.codex
.cursor
.idea
.vscode
.env
.env.*
!.env.example
database/*.sqlite*
frankenphp
node_modules
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
vendor
